@media (max-width: 1200px) {
	body {
		font-size: 13px;
	}
	.iphone {
		ul {
			li {
				line-height: 14pt;
			}
		}
	}
	.navigation {
		.app {
			top: 8px;
			.link {
				display: inline-block;
				img {
					width: 125px;
					height: auto;
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	#fbsection1 {
		.logo {
			margin-top: 15px;
		}
		.copy {
			text-align: left;
			p {
				font-size: 16pt;
			}
		}
	}
	#fbsection5 {
		height: auto;
		padding-top: 100px;
	}
	.navigation {
		.app {
			top: 12px;
			.link {
				display: inline-block;
				img {
					width: 105px;
					height: auto;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	#fbsection1 {
		text-align: center;
		.copy {
			display: inline-block;
			margin: 0 auto;
			text-align: center;
		}
		#download {
			text-align: center;
		}
	}
	#fbsection2,#fbsection3,#fbsection4 {
		background-size: auto 400px;
		.sectionTitle {
			h2 {
				font-size: 24pt;
			}
		}
		ul {
			padding-right: 25px;
		}
		.videoWrap {
			video {
				width: 163px;
			}
		}
	}
	#fbsection5 {
		#contactfrm {
			width: 600px;
		}
	}
}
@media (max-width: 767px) {
	.no-mobile {
		display: none !important;
	}
	.mobile {
		display: block !important;
	}
	.cbp-fbscroller {
		nav {
			display: none;
		}
	}
	.logo {
		width: 150px;
	}
	.navigation {
		height: 55px;
		background: black;
		ul {
			display: none;
		}
		.logo {
			width: 50px;
		}
		.app {
			top: 6px;
			.link {
				width: auto;
				&:last-child {
					float: none;
				}
				img {
					height: 41px;
					width: 121px;
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
	#fbsection1 {
		height: 100vh;
		.container {
			@include transform(translate(0,-25px));
		}
		.arrow {
			bottom: 125px;
		}
		.videoWrap {
			background: url('assets/images/bg.jpg') no-repeat scroll center / cover;
			background-position-x: -178px;
			video {
				display: none;
			}
		}
		.copy {
			text-align: center;
			margin: 0;
			p {
				font-size: 10pt;
			}
			h3 {
				font-size: 24pt;
			}
		}
		#download {
			a {
				display: block;
				box-sizing: border-box;
				margin: 0 auto 15px;
				&:last-child {
					margin: 0 auto !important;
				}
			}
		}
	}
	.iphone {
		height: auto;
		h2 {
			margin-bottom: 15px;
		}
		.videoWrap {
			.phone {
				width: 210px;
				height: auto;
				position: fixed;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%,-50%));
			}
			.video {
				width: 185px;
				height: auto;
				position: fixed;
				top: 50%;
				left: 50%;
				@include transform(translate(-49%,-50%));
			}
		}
		.content {
			box-sizing: border-box;
			position: relative;
			z-index: 100;
			padding-top: 525px;
			article {
				box-sizing: border-box;
				padding: 100px 25px;
			}
			ul {
				margin-left: 20px;
			}
		}
		&.phone-5 {
			background: black;
			color: white;
			.content {
				article {
					background: black;
				}
			}
		}
		&.phone-6 {
			background: white;
			.content {
				article {
					background: white;
				}
			}
		}
		&.phone-7 {
			background: $red;
			color: white;
			.content {
				article {
					background: $red;
				}
			}
		}
	}
	.cbp-fbscroller {
		section {
			height: auto;
		}
	}
	#fbsection5 {
		height: auto;
		padding-top: 50px;
		h2 {
			font-size: 18pt;
		}
		.half {
			width: 100%;
			input {
				width: 100%;
			}
		}
		#dropdown {
			width: 100%;
			margin-bottom: 25px;
		}
		#contactfrm {
			margin-top: 0;
			width: 100%;
		}
		.socialWrap {
			margin-top: 15px;
			a {
				line-height: 28px;
			}
		}
		#instafeed {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			line-height: 0;
			-webkit-column-count: 3;
			-webkit-column-gap: 0;
			-moz-column-count: 3;
			-moz-column-gap: 0;
			column-count: 3;
			column-gap: 0;
			z-index: 1;
		}
		#legal {
			position: relative;
			margin: 25px 0;
		}
		.btn-submit {
			width: 100%;
		}
	}
}
@media (max-width: 414px) {
	#fbsection1 {
		.copy {
			font-size: 13pt;
		}
	}
}
@media (max-width: 375px ) {
	#fbsection1 {
		.copy {
			font-size: 10pt;
		}
		.arrow {
			bottom: 75px;
		}
	}
}